.container {
  width: 80%;
  max-width: 70em;
  height: 60em;
  background-color: #fffefe;
  border-radius: 1em;
  margin-top: 3em;
  box-shadow: #666 0px 3px 6px -1px;
  position: relative;

}
.breakingPostContainer {
  width: 80%;
  max-width: 70em;
  height: 63em;
  background-color: #fffefe;
  border-radius: 1em;
  margin-top: 3em;
  box-shadow: #666 0px 3px 6px -1px;
  position: relative;

}


.title {
   font-family: 'Montserrat',
   sans-serif;
   font-style: normal;
   font-weight: 400;
   text-align: center;
}
.postContainer {
    width: 80%;
    max-width: 70em;
    height: 76em;
    background-color: #fffefe;
    border-radius: 1em;
    margin-top: 3em;
    box-shadow: #666 0px 3px 6px -1px;
    position: relative;
}
.container h3 {
  padding-left: 3em;
}

.list {
  width: 100%;
  list-style: none;

}

.list li {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.list li input {
  margin-bottom: 1em;
  padding: .5em;
  height: 3em;
  border-radius: .3em;
  border: 1px solid black;

}


.textarea {
  height: 20em;
  padding-top: .7em;
  padding-left: 1em;
}

.holder {
  /* display: block !important; */
  width: 100%;
  /* justify-content: center; */
}

.split {
  width: 40%;
  margin: .5em;
  height: 3em;

}

.holder label {
  margin-right: 1em;
}

.buttonHolder {
  width: 100%;
  display: flex;
  justify-content: center;

}

.buttonHolder button {
  width: 15em;
  height: 4em;
}


/* panel */
.container {
  position: relative;
  /* height: 10em; */
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  /* height: 20em; */
  flex-direction: column;
  border-radius: .2em;
  margin-top: 1em;
  /* box-shadow: #666 0px 3px 6px -1px; */
  
  
}


.addStory {
  position: relative;
  bottom: -2em;
  height: 10em;
  width: 100%;
  /* margin-bottom: 5px; */
  /* margin-top: 5px; */
  display: flex;
  height: 20em;
  flex-direction: column;
  border-radius: .2em;
  /* margin-top: 1em; */
  /* box-shadow: #666 0px 3px 6px -1px; */
  
  
  
}

.breaking {
  position: absolute;
  top: 0em;
  left: 1em;
  color: red;
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 600;
}

.underline {
  width: 97%;
  background-color: red;
  height: 1px;
  position: absolute;
  top: 3em;
  left: .5em;
  
  
}

.breakingCatTitle {
  position: absolute;
  top: 0em;
  left: 1em;
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #777676;
}

.breakingSubCatTitle {
  position: absolute;
  top: 1.2em;
  left: 1em;
  opacity: .6;
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 400;
  ;
}

.breakingHeader {
  position: absolute;
  bottom: 3em;
  left: 1em;
  font-family: 'Newsreader', Fallback, sans-serif;
  font: normal;
  font-weight: 500;
  
}

.breakingFooter {
  position: absolute;
  bottom: 1.5em;
  left: 1em;
  color: #B9B7B7;
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 400;
  
}

.breakingImg {
  position: absolute;
  width: 30%;
  right: 1em;
  top: 2em;
  border-radius: .2em;
  
}
    .breakingContainer {
      position: relative;
      background-color: #fffefe;
      width: 100%;
      margin-bottom: 5px;
      margin-top: 5px;
      display: flex;
      height: 23em;
      flex-direction: column;
      border-radius: .2em;
      margin-top: 1em;
      box-shadow: #666 0px 3px 6px -1px;
    
    
    }

    .suggestionsCont {
      position: absolute;
      width: 95%;
      top: 9em;
      border: #666 1px solid;
      height: 20em;
      overflow: scroll;
      background: #fffefe;
    }
    .suggestionTitle {
        font-family: 'Montserrat',
        sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .suggestion {
      border: #666 1px solid;
      opacity: .5;

    }
     .suggestion:hover {
        opacity: 1;
        /* background: #B9B7B7; */

     }
.completeTitle {
  text-align: center;
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 400;
}


.completeEmailList {
    text-align: center;
    font-family: 'Montserrat',
    sans-serif;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #666;
    width: 50%;
    border-radius: .3em;
    position: relative;
    left: 25%;

}

.inputHolder {
  margin-bottom: 2em;
  position: relative;
  left: 5%;

}

.adLabel {
  /* color: #59BCC0; */
 /* position: relative;
 left: 5%; */
  /* margin-left: 2em; */
  margin-right: 1.3em; 

}

.adLabelTwo {
}
.adInput {
font-family: 'Montserrat',
sans-serif;
font-style: normal;
height: 2.5em;
font-weight: 400;
/* position: relative;
left: 5%; */
width: 80%;
top: 1em;
margin-left: 1em;
}

 .homeBtn, .anotherBtn, .createBtn, .addBtn, .confirmBtn, .removeBtn, .button{
font-family: 'Montserrat',
sans-serif;
font-style: normal;
font-weight: 400;
width: 34%;
margin: auto;
margin-top: 3em;
height: 3em;
border-radius: 0.1em;
border: none;
border: 2px solid #59BCC0;
color: #59BCC0;
background: none;
 }  
 .anotherBtn {
position: absolute;
top: 14em;
left: 33%;
 }

  .createBtn {
    position: absolute;
    width: 10em;
     top: 19em;
    left: 70%;
  }
 .removeBtn {
     position: absolute;
     width: 10em;
    top: 15em;
     left: 70%;
 }
  .addBtn {
       position: absolute;
       width: 10em;
       top: 15.4em;
       left: 64%;
     
  }
  .confirmBtn {
       position: absolute;
       width: 10em;
       top: 34em;
       left: 64%;
     
  }

  .button{
    width: 9em;
    margin: 1em;
  }
 .input {
font-family: 'Montserrat',
sans-serif;
font-style: normal;
height: 2.5em;
font-weight: 400;
/* margin: auto; */
position: relative;
left: 25%;
width: 50%;
top: 1em;
 }

 .subscriptionSelect{
   position: relative;
   left: -21em;
   top: 6em;
   width: 20em;
 font-family: 'Montserrat',
 sans-serif;
 font-style: normal;
 height: 2.5em;
 font-weight: 400;
 }
 .homeBtn:hover , .anotherBtn:hover, .createBtn:hover, .addBtn:hover, .removeBtn:hover , .button:hover{
   border: none;
   background: #59BCC0;
   color: #fffefe;
 }
.removeBtn:hover {
     border: none;
     background:red;
     color: #fffefe;
}
 .confirmBtn:hover {
      border: none;
   background: green;
   color: #fffefe;
 }
 .emailListItem {
   margin-bottom:  .5em;
 }

 .dateTimeHolder {
   position: relative;
   top: 4em;
   left: 25%;
 }
 .dateTimeHolderTwo {
   position: relative;
   top: 2em;
   left: 15%;
 }
  .dateTimeHolderTwo {
    position: relative;
    top: 6em;
    left: 25%;
  }

  .img {
    width: 5em;
    position: absolute;
    right: 1em;
    border-radius: .3em;
  }
  .subCatTitle, .catTitle, .date {
    margin-left: 1em;
  }
  .cancelBtn, .deleteBtn {
    width: 6em;
    margin: .5em;
    height: 3em;
    background: transparent;
    border: 2px solid #59BCC0;
    color: #59BCC0;
    /* transition: s; */

  }

  .cancelBtn:hover {
    color: #fffefe;
    background: #59BCC0;
    transition: .25s;
  }
   .deleteBtn:hover {
     color: red;
     background: #59BCC0;
     transition: .25s;
   }
    @media screen and (max-width: 1400px) {
        .container, .postContainer, .breakingPostContainer {
          width: 100%;
        }
    }