.container {
  width: 80%;
  max-width: 70em;
  height: 55em;
  background-color: #fffefe;
  border-radius: 1em;
  margin-top: 3em;
  box-shadow: #666 0px 3px 6px -1px;
  position: relative;

}

.container h3 {
  padding-left: 3em;
}

.list {
  width: 100%;
  list-style: none;

}

.list li {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.list li input {
  margin-bottom: 1em;
  padding: .5em;
  height: 3em;
  border-radius: .3em;
  border: 1px solid black;

}


.textarea {
  height: 20em;
  padding-top: .7em;
  padding-left: 1em;
}

.holder {
  /* display: block !important; */
  width: 100%;
  /* justify-content: center; */
}

.split {
  width: 40%;
  margin: .5em;

}

.holder label {
  margin-right: 1em;
}

.buttonHolder {
  width: 100%;
  display: flex;
  justify-content: center;

}

.buttonHolder button {
  width: 15em;
  height: 4em;
}


/* panel */

.container {
  position: relative;
  height: 10em;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  height: 20em;
  flex-direction: column;
  border-radius: .2em;
  margin-top: 1em;
  /* box-shadow: #666 0px 3px 6px -1px; */


}

.addStory {
  position: relative;
  bottom: -2em;
  height: 10em;
  width: 100%;
  /* margin-bottom: 5px; */
  /* margin-top: 5px; */
  display: flex;
  height: 20em;
  flex-direction: column;
  border-radius: .2em;
  /* margin-top: 1em; */
  /* box-shadow: #666 0px 3px 6px -1px; */



}

.breaking {
  position: absolute;
  top: 0em;
  left: 1em;
  color: red;
  font-family: 'Montserrat',
    sans-serif;
  font-style: normal;
  font-weight: 600;
}

.underline {
  width: 97%;
  background-color: red;
  height: 1px;
  position: absolute;
  top: 3em;
  left: .5em;


}

.breakingCatTitle {
  position: absolute;
  top: 0em;
  left: 1em;
  font-family: 'Montserrat',
    sans-serif;
  font-style: normal;
  font-weight: 600;
}

.breakingSubCatTitle {
  position: absolute;
  top: 1.2em;
  left: 1em;
  opacity: .6;
  font-family: 'Montserrat',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  ;
}

.breakingHeader {
  position: absolute;
  bottom: 3em;
  left: 1em;


}

.breakingFooter {
  position: absolute;
  bottom: 1.5em;
  left: 1em;
  color: #B9B7B7;


}

.breakingImg {
  position: absolute;
  width: 30%;
  right: 1em;
  top: 2em;
  border-radius: .2em;

}