.mainContainer {
  /* position: relative; */

  width: 100%;
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.holder{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
}

.indexContainer {
    position: relative;
    display: block;
    width: 60%;
    /* padding: 1em; */
    /* max-width: 50em; */
    /* min-width: 60em; */
    background: #fffefe;
    border: #B9B7B7 solid 2px;
    border-radius: .2em;
    margin-top: 1em;
    box-shadow: #666 0px 3px 6px -1px;

}

.imgHolder {
 max-width: 100%;
 overflow: hidden;
 height: 23em;
 position: relative;
 top: 4em;
 display: block;
 margin: 0 auto;
}



.img {
/* visibility: hidden; */
  border-radius: 1em;
  padding: 0px;
    width: 55%;
    position: absolute;
    right: 1em;
    top: 1em;
    /* overflow: hidden; */
  /* margin-top:*/

}
.imgBarrier {
  visibility: hidden;

}

.title {
 position: relative;
 top: 0em;
 left: 1em;
}
.catTitle {
    position: absolute;
    top: -1em;
    left: 1em;
    color: #777676;
}
.artTitle {
  position: absolute;
  top: 3.5em;
  padding: 1em;
}
.date {
  position: absolute;
  bottom: .5em;
  left: 1em;
  color: #777676;
}
.underline {
   border: #B9B7B7 solid 1px;
   width: 95%;
   margin-left: 1em;
}

/* .img {
  width: 50%;
} */

.itemA {
  grid-area: header;
  border-bottom: black solid 2px;
  position: relative;
    height: 26em;
    width: 100%;
    /* min-width: 20em; */
      overflow: hidden;
  /* height: 37em; */
  /* width: 95%; */
  /* margin-left: 1em; */
}
.itemA h2 {
  top: 12em;
  background: #fffefe;
  padding: .5em;
  border-radius: .5em;
  
}
.itemA .imgBarrier {
 visibility: visible;
  background: #fffefe;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
}
.itemB {
  grid-area: one;
  position: relative;
 /* height: 15em; */
  /* border: #B9B7B7 solid 1px; */
  height: 15em;
  /* min-width: 10em; */
    width: 100%;


  /* border: black solid 1px; */


}

     .itemB div {
       width: 2px;
       height: 95%;
       background-color: black;
       position: absolute;
       right: 0%;
       top: 2.5%;
     }

.itemC {
  grid-area: two;
  position: relative;
  /* border: #B9B7B7 solid 1px; */
    height: 15em;
    /* min-width: 10em; */
    width: 100%;

    /* border-left: #B9B7B7 solid 1px; */
    /* width: 95%; */
    /* margin-left: 1em; */
 /* height: 15em; */


}
/* .itemC h6 {
  position: absolute;
  
  left: 1em;
  
} */

.itemD {
  grid-area: thr;
  border-top: black solid 2px;
    position: relative;
    /* border-right: #B9B7B7 solid 1px; */
 /* height: 15em; */
 height: 15em;
 /* min-width: 10em; */
 width: 100%;
 
 /* margin-top: 1em; */
}
     .itemD div {
       width: 2px;
       height: 95%;
       background-color: black;
       position: absolute;
      right: 0%;
      top: 2.5%;
     }

/* .itemD h6 {
  position: absolute;
  left: 1em;

} */
.itemE {
  grid-area: fou;
  border-top: black solid 2px;
  position: relative;
    height: 15em;
    /* min-width: 10em; */
    width: 100%;
 /* height: 15em; */
 

}
/* .itemE h6 {
  position: absolute;
  top: -1em;
  left: 1em;

} */
.storiesContainer {
  width: 100%;
  height: 80%;
  /* position: relative; */
  /* top: .5em; */
  display: grid;
  grid-template-columns: 250px 200px;
  grid-template-rows: minmax(250px, auto);
  grid-template-areas: "header header header header"
                       "header header header header"
                       "one one two two"
                       "thr thr fou fou";
    /* "5 5 6 6"; */

}

.moreBut {
  margin: auto;
  width: 100%;
  padding: 1em;
  border-radius: .2em;
  background: transparent;
  border: 3px solid #59BCC0;
  transition: .2s;  
   color: #59BCC0;
}
.moreBut:hover {
    transition: .2s;
    color: #fffefe;
    background: #59BCC0;
}

 @media screen and (max-width: 1200px) {
  .itemA,
  .itemB,
  .itemC,
  .itemD,
  .itemE {
    border: none;
    border-bottom: 1.5px solid gray;
    /* width: 75%; */
  }
 .itemA .artTitle {
   top: 11em;
 }
  .itemE{
    border:none;
  }
  .itemB div, .itemD div {
    visibility: hidden;
  }
  .indexContainer {
     width: 90%
   }
    .storiesContainer {
      width: 100%;
      height: 80%;
      display: grid;
      grid-template-rows: auto;
      grid-template-areas:
        "header header header header"
        "one one one one"
        "two two two two"
        "thr thr thr thr"
        "fou fou fou fou";
      /* "5 5 6 6"; */

    }


 }


  @media screen and (max-width: 700px) {
      .img{
            left: .5em;
            top: 3em;
      }
      .artTitle {
        width: 75%
      }
       .indexContainer {
         width: 100%;
         margin: 0
       }
  }