.mainContainer {
  position: relative;

  width: 80%;
  height: 100%;
  /* margin-bottom: 150em; */
  /* margin-bottom: 1em; */
  font-family: Arial, Helvetica, sans-serif;
}



.indexContainer {
    position: relative;
    display: block;
    width: 100%;
    padding: 1em;
    max-width: 50em;
    min-width: 25em;
    background: #fffefe;
    border: #B9B7B7 solid 2px;
    border-radius: .2em;
    margin-top: 1em;
    box-shadow: #666 0px 3px 6px -1px;

}

.imgHolder {
 max-width: 100%;
 overflow: hidden;
 height: 23em;
 position: relative;
 top: 4em;
 display: block;
 margin: 0 auto;
}



.img {
/* visibility: hidden; */
  border-radius: 1em;
  padding: 0px;
    width: 55%;
    position: absolute;
    right: 1em;
    top: 1em;
    /* overflow: hidden; */
  /* margin-top:*/

}


.title {
 position: relative;
 top: 0em;
}
.catTitle {
    position: absolute;
    top: -1em;
    left: 1em;
    color: #777676;
}
.artTitle {
  position: absolute;
  top: 3.5em;
  padding: 1em;
}
.date {
  position: absolute;
  bottom: .5em;
  left: 1em;
  color: #777676;
}
.underline {
   border: #B9B7B7 solid 1px;
   width: 95%;
}

/* .img {
  width: 50%;
} */

.itemA {
  grid-area: header;
  border-bottom: black solid 2px;
  position: relative;
    height: 26em;
    width: 100%;
    min-width: 20em;
      overflow: hidden;
  /* height: 37em; */
  /* width: 95%; */
  /* margin-left: 1em; */
}
.itemA h2 {
  top: 12em;
  background: #fffefe;
  padding: .5em;
  border-radius: .5em;
  
}
.itemB {
  grid-area: one;
  position: relative;
 /* height: 15em; */
  /* border: #B9B7B7 solid 1px; */
  height: 15em;
  min-width: 10em;
    width: 100%;


  /* border: black solid 1px; */


}

     .itemB div {
       width: 2px;
       height: 95%;
       background-color: black;
       position: absolute;
       right: 0%;
       top: 2.5%;
     }

.itemC {
  grid-area: two;
  position: relative;
  /* border: #B9B7B7 solid 1px; */
    height: 15em;
    min-width: 10em;
    width: 100%;

    /* border-left: #B9B7B7 solid 1px; */
    /* width: 95%; */
    /* margin-left: 1em; */
 /* height: 15em; */


}
/* .itemC h6 {
  position: absolute;
  
  left: 1em;
  
} */

.itemD {
  grid-area: thr;
  border-top: black solid 2px;
    position: relative;
    /* border-right: #B9B7B7 solid 1px; */
 /* height: 15em; */
 height: 15em;
 min-width: 10em;
 width: 100%;
 
 /* margin-top: 1em; */
}
     .itemD div {
       width: 2px;
       height: 95%;
       background-color: black;
       position: absolute;
      right: 0%;
      top: 2.5%;
     }

/* .itemD h6 {
  position: absolute;
  left: 1em;

} */
.itemE {
  grid-area: fou;
  border-top: black solid 2px;
  position: relative;
    height: 15em;
    min-width: 10em;
    width: 100%;
 /* height: 15em; */
 

}
/* .itemE h6 {
  position: absolute;
  top: -1em;
  left: 1em;

} */
.storiesContainer {
  width: 100%;
  height: 80%;
  /* position: relative; */
  /* top: .5em; */
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "header header header header"
    "header header header header"
    "header header header header"
    "one one  two two"
    "thr thr fou fou";
    /* "5 5 6 6"; */

}