.subStoryCont {
  position: relative;
  top: .5em;
  display: grid;
  /* margin-bottom: 0em;  */
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas: "one one two two"
                       "one one two two"
                       "thr thr foh foh"
                       "thr thr foh foh";
  height: 44em;
  
}

.subItemA {
  position: relative;
  height: 22em;
  grid-area: one;
  width: 100%;
  overflow: hidden;
}
.subItemA div {
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 99%;
  bottom: 1%;
}
.subItemB {
  position: relative;

  /* border: #B9B7B7 solid 1px; */
  height: 22em;
  grid-area: two;
  width: 100%;

}

.subItemC {
  position: relative;

  border-top: black solid 2px;
  grid-area: thr;
  height: 22em;
  width: 100%;

}
.subItemD {
  position: relative;

  border-top: black solid 2px;
  grid-area: foh;
  height: 22em;
  width: 100%;

}

 .subItemC div {
   width: 2px;
   height: 100%;
   background-color: black;
   position: absolute;
   left: 99%;
   top: 1%;
 }
.imgHolder {
  max-width: 100%;
  overflow: hidden;
  height: 12em;
  position: relative;
  top: -2em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}



.threeImg {
  position: absolute;
  right: .5em;
  top: .5em;
  border-radius: .5em;
  /* padding: 0px; */
  width: 46%;
  /* margin-top: 1em; */

}

.threeHeader {
 position: absolute;
 left: .5em;
 bottom: 1.5em;
 margin: .5em;
   border-top-right-radius: 1em;
   padding: .5em;
   background-color: #fffefe;
}

.threeTimeFooter {
  position: absolute;
  bottom: -1.5em;
  left: 1em;
  color: #B9B7B7;
}

.catTitle {
  position: absolute;
  top: 0em;
  left: 1em;
  color: #777676;
}


@media screen and (max-width: 1000px) {
  .subItemA, .subItemB, .subItemC, .subItemD {
    border-top: none;
    height: 11em;
    border-bottom: 1.5px solid gray;
  }
 .subItemA div, .subItemB div, .subItemC div,
 .subItemD div,
 .subItemE div {
    visibility: hidden;

  }
   .subItemD {
     border-bottom: none;
   }
  .threeImg {
    width: 10%;
  }
  .subStoryCont {
      grid-template-rows: auto;
      grid-template-areas: "one one one one one"
                           "two two two two two"
                           "thr thr thr thr thr"
                           "foh foh foh foh foh";
  }
}