
/* newsreader-regular - latin */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/newsreader-v7-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/newsreader-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/newsreader-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/newsreader-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/newsreader-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/newsreader-v7-latin-regular.svg#Newsreader') format('svg');
  /* Legacy iOS */
}

/* newsreader-800 - latin */
/* newsreader-600 - latin */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/newsreader-v7-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/newsreader-v7-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/newsreader-v7-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/newsreader-v7-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/newsreader-v7-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/newsreader-v7-latin-600.svg#Newsreader') format('svg');
  /* Legacy iOS */
}



.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}



.ad {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .5em;
  width: 100%;
}
.indexContainer {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em;
  background: #fffefe;
  border-radius: .2em;
  margin-top: 1em;
  box-shadow: #666 0px 3px 6px -1px;
}

.title {
  position: relative;
  top: 0em;
}

.underline {
   border: black solid 1px;
   width: 95%;
}
.header {
   position: relative;
   left: .5em;
   top: 1.5em;
   margin: 10px;
  border-top-right-radius: 1em;
  padding: .5em;
  background-color: #fffefe;
  font-family: 'Newsreader', Fallback, sans-serif;
}
.catTitle {
    position: absolute;
    top: -1em;
    left: 1em;
    color: #777676;
}
.timeFooter{
   position: absolute;
   bottom: -1em;
   left: 1em;
   color: #B9B7B7;
}
.itemA {
  grid-area: main;
  /* background-color: blanchedalmond; */
  border-right: black solid 2px;
  /* height: 20%; */
  height: 26em;
  width: 100%;
  min-width: 5em;
  position: relative;
    overflow: hidden;

  
}
.itemA img {
width: 95%;
max-width: 18.5em;
position: absolute;
left: .5em;
border-radius: 1em;
top: .5em
}
/* .itemA h */
.itemA h2 {
  position: relative;
  left: 0em;
  top: 13.5em;
}

.itemA h5 {
 
  top: 19.5em;
  left: 1em;
 
}
.itemA div {
    /* width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 100%;
    top: 0%; */
}
.itemB {
  grid-area: header;
  /* border: #B9B7B7 solid 1px; */
  min-width: 5em;
  position: relative;

  /* background-color: green; */
}
.itemC div {
 height: 2px;
 width: 75%;
 background-color: black;
 position: absolute;
 left: 10%;
 top: 0%;
 
}
.itemC {
  grid-area: sidebar;
    /* border-bottom: #B9B7B7 solid 1px; */
    /* width: 95%; */
    /* border: #B9B7B7 solid 1px; */
    position: relative;

    /* margin-left: 1em; */

  }
  
  .itemD {
    grid-area: piebar;
    /* background-color: peru; */
    /* border: #B9B7B7 solid 1px; */
    position: relative;
    
  
  }
.itemD div {
  height: 2px;
  width: 75%;
  background-color: black;
  position: absolute;
  left: 10%;
  top: 0%;

}
.itemE {
  grid-area: footer;
  /* border: #B9B7B7 solid 1px; */
  height: 15em;
  min-width: 10em;
  position: relative;

  /* margin-top: 1em; */
  /* background-color: pink; */

}
.itemE div {
    height: 2px;
    width: 92%;
    background-color: black;
    position: absolute;
    left: 0%;
    align-items: center;
    top: 2%;

}
.itemE h5 {
  top: 0em;
}
.itemE h2 {

  top: 5.5em;

 
}
/* .itemE h2 {
  position: relative;
  left: .5em;
  top: 1em;
}
.itemE h5 {
  position: relative;
  bottom: 2.5em;
  left: 1em;
  color: #777676;
}

*/
/* .itemE h6 {
 
    top: 3.5em;
  

} */
.storiesContainer {
  /* width: 100%; */
  height: 100%;
  position: relative;
  top: .5em;
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas:
    "main main header header"
    "main main sidebar sidebar"
    "main main   piebar piebar"
    "footer footer footer footer";

}



.subStoryDiv {
  width: 100%;

  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
    max-width: 60em;
    background: #fffefe;
    /* border: #B9B7B7 solid 2px; */
    border-radius: .2em;
 box-shadow: #666 0px 3px 6px -1px;


}

.arrow {
      width: 2em;
      position: relative;
      float: right;
      top: -4em;
      opacity: .6;
      transition: .15s;
}
.arrow:hover {
      opacity: 1;
      transition: .15s;

}
.subStoryCont {
 position: relative;
 top: .5em;
 display: grid;
 /* grid-template-columns: 50px 50px 50px 50px; */
 grid-template-rows: auto;
 grid-template-areas: "one two thr";
 
 }

 .subItemA {
   position: relative;

   /* border: #B9B7B7 solid 1px; */
   height: 20em;
   grid-area: one;
   width: 100%;

   /* border-right: #B9B7B7 solid 1px; */
 }
 .subItemA div {
   width: 2px;
   height: 100%;
   background-color: black;
   position: absolute;
   left: 100%;
   bottom: 1%;
 }
 .subItemB {
   position: relative;

   /* border: #B9B7B7 solid 1px; */
   height: 20em;
   grid-area: two;
   width: 100%;

 }

 .subItemB div {
   width: 2px;
   height: 100%;
   background-color: black;
   position: absolute;
   left: 100%;
   bottom: 1%;
 }
  .subItemC {
    position: relative;

    /* border: #B9B7B7 solid 1px; */
    grid-area: thr;
    height: 20em;
    width: 100%;

  }

 .threeImg {
   position: absolute;
   right: .5em;
   top: .5em;
   border-radius: 1em;
   /* padding: 0px; */
   width: 46%;
   /* margin-top: 1em; */

 }

 .threeHeader {
   position: absolute;
   left: .5em;
   top: 11.5em;
 }

 .threeTimeFooter {
   position: absolute;
   bottom: -1.5em;
   left: 1em;
   color: #B9B7B7;
 }

 .addStoryContainer {
       /* border: black 1px solid; */
       height: 16em;
       width: 100%;
       margin-bottom: 5px; 
       margin-top: 5px;
       display: flex;

 }

 .story {
   border-right: 1px solid black;
  position: relative;
   margin: .5em;
   width: 33%;
 }
 
 .storyLast {
  position: relative;
   margin: .5em;
   width: 33%;
 }
 .line {
   width: 98%;
   height: 1px;
  background: black;
  position: absolute;
 }
 .addedHeader{
  position: absolute;
  top: 0em;
 }
 .addedTitle{
     position: absolute;
     bottom: 1.5em
 }

 .addedDate {
    position: absolute;
    bottom: 0em;
 }
 @media screen and (max-width: 1200px) {
   .itemA {
     border-right: none; 
   }

.itemA,.itemB,.itemC,.itemD, .itemE{
    max-width: 100em;
    
    border-bottom: 1.5px solid gray;
}
.itemE {
  border-bottom: none;
}
.itemB div,.itemC div,.itemD div,.itemE div{
    visibility: hidden;  
}

.header {
  left: -0.7em;
  top: -0.2em;
  background: none;
}
.itemA .header {
  top: 12.4em;
  left: -0.7em;

  /* left: -33.7em !important; */

}
  .storiesContainer {

grid-gap: 1em;
height: 100%;
  grid-template-rows: minmax(150px, auto);
  grid-template-areas:    "main main main main"
                          "header header header header"
                          "sidebar sidebar sidebar sidebar"
                          "piebar piebar piebar piebar"
                          "footer footer footer footer";

} 


@media screen and (max-width: 1000px) {

  .subItemA,
  .subItemB,
  .subItemC,
  .subItemD {
    border-top: none;
    height: 11em;
    border-bottom: 1.5px solid gray;
  }

  .subItemA div,
  .subItemB div,
  .subItemC div,
  .subItemD div,
  .subItemE div {
    visibility: hidden;

  }

  .subItemC {
    border-bottom: none;
  }

  .threeImg {
    width: 10%;
  }

  .threeHeader {
    top: 5.5em;
  }
  .subStoryCont {
    grid-template-rows: auto;
    grid-template-areas: "one one one one one"
      "two two two two two"
      "thr thr thr thr thr"
      "foh foh foh foh foh";
  }
}
.addStoryContainer{
  height: 25em;
  flex-direction: column;
}
.story, .storyLast {
  height: 33%;
  width: 100%;
}
.story{
  border-right: none;
  border-bottom: 1px solid black;
}
.addedHeader {
  top: -2em;
}
.addedDate{
  bottom: -2em;
}
.addedTitle{
  bottom: 0.5em;
}
}
