.mainContainer {

  width: 100%;
}

.indexContainer {
  display: block;
  width: 50em;
  margin: 1em;
  padding: 1em;
  height: 60em;
  background: #fffefe;
  border: #B9B7B7 solid 2px;
  border-radius: .2em;

}

.title {
  position: relative;
  top: 0em;
}

.underline {
   border: #B9B7B7 solid 1px;
   width: 95%;
}

.itemA {
  grid-area: main;
  /* background-color: blanchedalmond; */
  border-right: #B9B7B7 solid 1px;
  width: 95%;
  margin-left: 1em;
}
.itemA h6 {
  position: relative;
  top: 2em;
  color: #B9B7B7;
}
.itemA img {
  width: 95%;
}
.itemA h2 {
 position: relative;
 left: .5em;
  top: 1em;
}
.itemA h5 {
  position: relative;
  bottom: 1em;
  left: 1em;
  color: #777676;
}
.itemB {
  grid-area: header;
  border-bottom: #B9B7B7 solid 1px;
  /* background-color: green; */
}
.itemB h6 {
  position: relative;
    top: 2em;
    left: 1em;
  color: #B9B7B7;

}
.itemB h5 {
  position: relative;
  bottom: 2.5em;
  left: 1em;
  color: #777676;
}

.itemB h2 {
  position: relative;
  left: .5em;
  top: 1em;
}
.itemC {
  grid-area: sidebar;
    border-bottom: #B9B7B7 solid 1px;
    width: 95%;

    /* margin-left: 1em; */

}

.itemC h6 {
  position: relative;
    top: 2em;
    left: 1em;
  color: #B9B7B7;

}
.itemC h5 {
  position: relative;
  bottom: 2.5em;
  left: 1em;
  color: #777676;
}
.itemC h2 {
  position: relative;
  left: .5em;
  top: 1em;
}
.itemD {
  grid-area: footer;
  border-top: #B9B7B7 solid 1px;
  margin-top: 1em;
  /* background-color: pink; */

}
.itemD h6 {
  position: relative;
  top: 8.5em;
  left: 1em;
  color: #B9B7B7;

}
.itemD h5 {
  position: relative;
  bottom: 2.5em;
  left: 1em;
  color: #777676;
}
.itemD h2 {
  position: relative;
  left: .5em;
  top: 3em;
}
.itemE {
  grid-area: piebar;
  /* background-color: peru; */

}
.itemE h2 {
  position: relative;
  left: .5em;
  top: 1em;
}
.itemE h5 {
  position: relative;
  bottom: 2.5em;
  left: 1em;
  color: #777676;
}

.itemE h6 {
  position: relative;
    top: 3.5em;
    left: 1em;
  color: #B9B7B7;

}
.storiesContainer {
  width: 100%;
  height: 80%;
  position: relative;
  top: .5em;
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas:
    "main main header header"
    "main main sidebar sidebar"
    "main main   piebar piebar"
    "footer footer footer footer";

}