.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
}


.ad {
  margin: auto;
  border-radius: .5em;
  /* width: 100%; */
    display: table-cell;
    /*set display to table-cell*/
    width: 17em;
  position: absolute;
  right: -18em;
  top: 1em;
  box-shadow: #666 0px 3px 6px -1px;

}

.topStory {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em;
  background: #fffefe;
  border-radius: .2em;
  margin-top: 1em;
  box-shadow: #666 0px 3px 6px -1px;
   /* display: table-cell; */
   width: 100%;
   top: 1em;
   max-width: 52em;
}

.indexContainer {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em;
  background: #fffefe;
  border-radius: .2em;
  margin-top: 1em;
  box-shadow: #666 0px 3px 6px -1px;

}
.adHolder {
  height: 100%;
  width: 100%;
  /* display: table; */
  
}
/*
.center {
 
  width: 90%;
  position: relative;
  left: 9%;  
} */
.title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  /* top: -10em; */
}


.topStoryUnderline {
  border: #B9B7B7 solid 1px;
  width: 95%;
      
      position: relative;
      top: -20em;
}

.underline {
  border: #B9B7B7 solid 1px;
  width: 95%;

}

.header {
  position: relative;
  left: .5em;
  top: 1.3em;
  margin: 10px;
  border-top-right-radius: 1em;
  padding: .5em;
  background-color: #fffefe;
  font-family: 'Newsreader', Fallback, sans-serif;
  font: normal;
  font-weight: 500;
}

.catTitle,
.threeCatTitle {
  position: absolute;
  top: -1em;
  left: 1em;
  color: #777676;
  font-family: 'Montserrat',
    sans-serif;
  font-style: normal;
  font-weight: 600;
}

.timeFooter {
  position: absolute;
  bottom: -2em;
  left: 1em;
  color: #B9B7B7;
  font-family: 'Montserrat',
    sans-serif;
  font-style: normal;
  font-weight: 400
}

.itemA {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  /* background-color: blanchedalmond; */
  border-right: #B9B7B7 solid 1px;
  /* height: 20%; */
  height: 26em;
  width: 100%;
  min-width: 24em;

  position: relative;
  overflow: hidden;


}

.itemA img {
  width: 95%;
  max-width: 18.5em;
  position: absolute;
  left: .5em;
  border-radius: 1em;
  top: .5em
}

/* .itemA h */
.itemA h2 {
  position: relative;
  left: 0em;
  top: 13em;
}

.itemA h5 {

  top: 18.5em;
  left: 1em;
  background: #fffefe;
  border-radius: .3em;

}

.itemA .catTitle {
  top: 20em;
}

.itemA div {
  /* width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 100%;
    top: 0%; */
}

.itemB {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: header;
  /* border: #B9B7B7 solid 1px; */
  min-width: 5em;
  position: relative;

  /* background-color: green; */
}

.itemC div {
  height: 1px;
  width: 75%;
  background-color: #B9B7B7;
  position: absolute;
  left: 10%;
  top: 0%;

}

.itemC {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sidebar;
  /* border-bottom: #B9B7B7 solid 1px; */
  /* width: 95%; */
  /* border: #B9B7B7 solid 1px; */
  position: relative;

  /* margin-left: 1em; */

}

.itemD {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: piebar;
  /* background-color: peru; */
  /* border: #B9B7B7 solid 1px; */
  position: relative;


}

.itemD div {
  height: 1px;
  width: 75%;
  background-color: #B9B7B7;
  position: absolute;
  left: 10%;
  top: 0%;

}

.itemE {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  /* border: #B9B7B7 solid 1px; */
  height: 20em;
  min-width: 10em;
  position: relative;


  /* margin-top: 1em; */
  /* background-color: pink; */

}

.itemE div {
  height: 1px;
  width: 92%;
  background-color: #B9B7B7;
  position: absolute;
  left: 0%;
  align-items: center;
  top: 2%;

}

.itemE h5 {
  top: 0em;
}
.itemE .subCatTitle {
  top: 2em;
}
.itemE h2 {

  top: 7.5em;


}
.itemE .timeFooter {
  bottom: -2em;
}
/* .itemE h2 {
  position: relative;
  left: .5em;
  top: 1em;
}
.itemE h5 {
  position: relative;
  bottom: 2.5em;
  left: 1em;
  color: #777676;
}

*/
/* .itemE h6 {
 
    top: 3.5em;
  

} */
.storiesContainer {
  /* width: 100%; */
  height: 100%;
  position: relative;
  /* top: -19em; */
  top: .5em;
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas:
    "main main header header"
    "main main sidebar sidebar"
    "main main   piebar piebar"
    "footer footer footer footer";

}



.subStoryDiv {
  width: 100%;

  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  max-width: 83.2em;
  background: #fffefe;
  /* border: #B9B7B7 solid 2px; */
  border-radius: .2em;
  box-shadow: #666 0px 3px 6px -1px;


}

.arrowBox {
  width: 3em;
  height: 3em;
  position: relative;
  float: right;
  top: -4em;

  border-radius: 2em;
  transition: .15s;

}

.arrow {
  position: absolute;
  left: 23%;
  top: 17%;
  width: 2em;
  opacity: .6;
  transition: .15s;
}

.arrow:hover {
  opacity: 1;
  transition: .15s;
  /* z-index: 1; */

}

.arrowBox:hover {
  /* opacity: .5; */
  transition: .15s;
  background: #B9B7B7;

}

.subStoryCont {
  position: relative;
  top: .5em;
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas: "one two thr";

}

.subItemA {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  position: relative;

  /* border: #B9B7B7 solid 1px; */
  height: 20em;
  grid-area: one;
  width: 100%;

  /* border-right: #B9B7B7 solid 1px; */
}

.subItemA div {
  width: 1px;
  height: 100%;
  background-color: #B9B7B7;
  position: absolute;
  left: 100%;
  bottom: 1%;
}

.subItemB {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  position: relative;

  /* border: #B9B7B7 solid 1px; */
  height: 20em;
  grid-area: two;
  width: 100%;

}

.subItemB div {
  width: 1px;
  height: 100%;
  background-color: #B9B7B7;
  ;
  position: absolute;
  left: 100%;
  bottom: 1%;
}

.subItemC {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  position: relative;

  /* border: #B9B7B7 solid 1px; */
  grid-area: thr;
  height: 20em;
  width: 100%;

}

@media screen and (max-width: 1000px) {
  .subItemA {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .subItemB {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .subItemC {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
}

.threeImg {
  position: absolute;
  right: .5em;
  top: .5em;
  border-radius: 1em;
  /* padding: 0px; */
  width: 46%;
  /* margin-top: 1em; */

}

.threeHeader {
  position: absolute;
  left: .5em;
  top: 11.5em;
  font-family: 'Newsreader', Fallback, sans-serif;
  font: normal;
  font-weight: 500;
  background-color: #fffefe;
}

.threeTimeFooter {
  position: absolute;
  bottom: -2em;
  left: 1em;
  color: #B9B7B7;
  font-family: 'Montserrat',
    sans-serif;
  font-style: normal;
  font-weight: 400;
}

.addStoryContainer {
  /* border: black 1px solid; */
  height: 16em;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;

}

.story {
  border-right: 1px solid #B9B7B7;
  position: relative;
  margin: .5em;
  width: 33%;
}

.storyLast {
  position: relative;
  margin: .5em;
  width: 33%;
}

.line {
  width: 98%;
  height: 1px;
  background: #B9B7B7;
  position: absolute;
}

.addedHeader {
  position: absolute;
  top: -1em;
  color: #777676;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}

.addedSubCatTitle {
  position: absolute;
  top: .3em;
  left: 0em;
  color: #777676;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400
}

.addedTitle {
  position: absolute;
  bottom: 1.5em;
  font-family: 'Newsreader',
    Fallback,
    sans-serif;
  font: normal;
  font-weight: 500;
}

.addedDate {
  color: #777676;
  position: absolute;
  bottom: -1em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}

.subCatTitle,
.threeSubCatTitle {
  position: absolute;
  top: .5em;
  left: 1em;
  color: #777676;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400
}
@media screen and (max-width: 1350px) {
  .ad {
    position: relative;
    width: 100%;
    right: 0em;
    top: 1.5em;
  }
  .topStory{
    width: 100%;
    max-width: 83.2em;
    margin-bottom: 1em;
  }
} 
@media screen and (max-width: 1200px) {
     .itemB .header,
     .itemC .header,
      .itemD .header  {
        left: -0.7em;
        top: 0em !important;
        background: none;
      }
  .adHolder{
    display: block;
  }
  .ad {
       position: relative;
       width: 100%;
       right: 0em;
       top: 1.5em;
  }
  .itemA {
    border-right: none;
  }

  .itemA,
  .itemB,
  .itemC,
  .itemD,
  .itemE {
    max-width: 100em;
    min-width: 0em;

    border-bottom: 1.5px solid gray;
  }

  .itemE {
    border-bottom: none;
  }

  .itemB div,
  .itemC div,
  .itemD div,
  .itemE div {
    visibility: hidden;
  }


  .itemA .header {
    top: 12.4em;
    left: -0.7em;

    /* left: -33.7em !important; */

  }
 


  .catTitle {
    top: -2.5em;
  }

  .subCatTitle {
    top: -1em;
  }

  .storiesContainer {

    grid-gap: 1em;
    height: 100%;
    grid-template-rows: minmax(150px, auto);
    grid-template-areas: "main main main main"
      "header header header header"
      "sidebar sidebar sidebar sidebar"
      "piebar piebar piebar piebar"
      "footer footer footer footer";

  }



  @media screen and (max-width: 1000px) {
      .itemB, .itemC, .itemD { 
        height: 12em;
      }
    .subItemA,
    .subItemB,
    .subItemC,
    .subItemD {
      border-top: none;
      height: 11em;
      border-bottom: 1.5px solid gray;
    }

    .subItemA div,
    .subItemB div,
    .subItemC div,
    .subItemD div,
    .subItemE div {
      visibility: hidden;

    }

    .subItemC {
      border-bottom: none;
    }

    .threeImg {
      width: 16%;
    }

    .threeHeader {
      top: 5.5em;
    }

    .subStoryCont {
      grid-template-rows: auto;
      grid-template-areas: "one one one one one"
        "two two two two two"
        "thr thr thr thr thr"
        "foh foh foh foh foh";
    }
  }

  .addStoryContainer {
    height: 35em;
    flex-direction: column;
  }

  .story,
  .storyLast {
    height: 33%;
    width: 100%;
  }

  .story {
    border-right: none;
    border-bottom: 1px solid #B9B7B7;
    ;
  }

  .addedHeader {
    top: -2em;
  }

  .addedDate {
    bottom: -2em;
  }

  .addedTitle {
    bottom: 0.5em;

  }

  .itemA {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;

  }

  .itemB {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;

  }

  .itemC {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;

  }

  .itemD {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;

  }

  .itemE {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;

  }
  

}