
.mainContainer {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  align-items: center;
  height: 100%;
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 400;
}
.error {
  margin-top: 1em;
  width: 45%;
  height: 10em;
  /* border: 2px solid black; */
  background-color: #E57373;
  border-radius: 1em;
  color: #fffefe;
  text-align: center;
  
  /* vertical-align: center; */
}
.message {
  margin-top: 4em;
}

.loginDiv {
  position: relative;
  /* margin: auto; */
  margin-top: 1.5em; 
  border-radius: .5em;
  width: 50%;
  height: 25em;
  background-color: #fffefe;
  padding: 10px;
  box-shadow: 0px 2px 12px -1px #dfdfdf;
  
}
.loginImg {
  display: block;
  margin: auto;
  
}
.underline {
  width: 90%;
  height: 1px;
  background-color: #999;
  margin: auto;
}

.holder {
  width: 100%;
    display: flex;
    /* margin: 1em; */
    padding: .5em;


}


.verticalLine {
 width: 1px;
 height: 62%;
 background-color: black;
position: absolute;
left: 50%;
/* bottom: 35%; */
/* z-index: 1/; */
}


.signIn, .register{
  width: 100%;
  height: 100%;
  margin: 2px;
  /* border: solid pink 2px; */
  display: flex;
  flex-direction: column;
}
.logInList {
   list-style: none;

}

.formList {
  list-style: none;;
}

.formList li {
  margin-bottom: 1em;;
}
.formList label {
  margin-right: 1em;
  margin-bottom: 1em
}
.formList input {
  width: 90%;
  padding: 5px;
  border-radius: .3em;
  border: 1px solid #999;
}
.email {
  position: relative;
  left: 2em;;
}

.password {
  position: relative;
  left: 2em;
  
}


.btn {
  
 width: 10em;
 position: relative;
 bottom: 0.5em;
 left: 29%;
 padding: .7em;
 background: none;
 color: #59BCC0;
 border-radius: 1em;
 border: 2px solid #59BCC0;
 transition: .25s;
  
  transition: .25s;
}
.btn:hover {
  background: #59BCC0;
  color: #fffefe;
  transition: .25s;
}



/*

.signInDiv {
  border: 2px solid pink;
  float: left;
  width: 50%;
  
}

.registerDiv {
  border: 2px solid pink;
  float: right;
  width: 50%;
  
} */

.forgotButton {
  border: none;
  position: absolute;
  right: 1em;
  bottom: 1em;
  background: none;

}
.forgotButton:hover {
  color: #59BCC0;
  border-bottom: 1px solid #59BCC0 !important;
}

.recoveryTitle {
  font-family: 'Montserrat',
  sans-serif;
  font-style: normal;
  font-weight: 600;
}
.recoveryBtn {
   width: 10em;
   position: absolute;
   bottom: 1em;
   right: 1em;
   
   padding: .7em;
   background: none;
   color: #59BCC0;
   border-radius: 1em;
   border: 2px solid #59BCC0;
   transition: .25s;
}

.recoveryBtn:hover, .recoveryBtn:focus {
   background-color: #59BCC0;
   color: #fffefe;
   transition: .25s;
}

.recoveryInput {}


@media screen and (max-width: 1200px) {
 .loginDiv {
   width: 100%;
   transition: 2ms ease;
 }
}

@media screen and (max-width: 800px) {
  
       .loginDiv {
         width: 100%;
         height: 35em;
         /* border: 1px solid black; */
        }
        .btn{
          left: 37%;
        }
        .holder {
          display: flex;
          flex-direction: column;
        }
      .verticalLine{
            visibility: hidden;
      }
      .signIn {
        border-top: 1px solid black; 
      }
      .loginImg {
        width: 90%;
      }
      }