.nav {
  height:  75px;
  padding: 10px;
  width: 100%;
  background: #fffefe;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.subscribe {
  padding: .7em;
  background: none;
  color: #59BCC0;
  border-radius: 1em;
  border: 2px solid #59BCC0;
  position: absolute;
  right: 3em;
  transition: .25s;

}
.signIn {
  padding: .7em;
  background: none;
  color: #59BCC0;
  border-radius: 1em;
  border: 2px solid #59BCC0;
  position: absolute;
  right: 10em;
  transition: .25s;
  
}
.signIn:hover {
  background: #59BCC0;
  color: #fffefe;
  transition: .25s;
}
.subscribe:hover {
  background: #59BCC0;
  color: #fffefe;
  transition: .25s;
}
.navbar {
 height: 47px;
 padding: 10px;
 padding-left: 4em;
 background: #fffefe;
border-top: 1px solid #b9b7b7;
 display: flex;
 /* justify-content: center; */
 align-items: center;
 list-style: none;
 margin: 0;
}
.navButton {
      background: none;
      border: none;
      color: #b9b7b7;
      padding-left: 1em;
      padding-right: 3.5em;
      transition: 20ms;

}

.navButton:hover {
  color: #59BCC0;
  transition: 20ms;

}
.navButton:focus {
 border: none;
    outline:none;

}

.lowerNavBar {
  height: 47px;
  padding: 10px;
  background: #B9B7B7;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  /* visibility: hidden; */
}

.lowerNavBar button {
  color: #fffefe;
}
.nav ul li a {
  margin: 5px 15px;
}



.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
