.subStoryCont {
  position: relative;
  width: 100%;
  top: .5em;
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas: "one one two two thr thr"
                       "one one two two thr thr"
                       "foh foh fiv fiv six six"
                       "foh foh fiv fiv six six";
  height: 44;
  
}

.subItemA {
  position: relative;

  /* border: #B9B7B7 solid 1px; */
  height: 15em;
  grid-area: one;
    width: 100%;

  /* border-right: #B9B7B7 solid 1px; */
}
.subItemA div {
   width: 2px;
   height: 100%;
   background-color: black;
   position: absolute;
   left: 100%;
   bottom: 1%;
}
.subItemB {
  position: relative;
  height: 15em;
  grid-area: two;
    width: 100%;

}
.subItemB div {
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 100%;
  bottom: 1%;
}
.subItemC {
  position: relative;
  grid-area: thr;
    height: 15em;
    width: 100%;

}

.subItemD {
  position: relative;

  border-top: black solid 2px;
  grid-area: foh;
  height: 15em;
    width: 100%;

  }
  .subItemD div {
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 100%;
    top: 1%;
  }
.subItemE {
  position: relative;

  border-top: black solid 2px;
  height: 15em;
    width: 100%;

  grid-area: fiv;
}

.subItemE div {
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 100%;
  top: 1%;
}
.subItemF {
  position: relative;

  grid-area: six;
  border-top: black solid 2px;
    height: 15em;
    width: 100%;


}

.imgHolder {
  max-width: 100%;
  overflow: hidden;
  height: 6em;
  position: relative;
  top: -2em;
  display: block;
  margin: 0 auto;
}



.sixImg {
position: absolute;
right: .5em;
top: .5em;
 border-radius: 1em;
 /* padding: 0px; */
 width: 46%;
 /* margin-top: 1em; */

}

.threeHeader {
     position: absolute;
     left: .5em;
     top: 6.5em;
  border-top-right-radius: 1em;
  padding: .5em;
  background-color: #fffefe;
    }

.threeTimeFooter {
  position: absolute;
  bottom: -1.5em;
  left: 1em;
  color: #B9B7B7;
}

.catTitle {
position: absolute;
top: 0em;
left: 1em;
color: #777676;
}